<% unless @lawyer.lawyer_detail.nil? or @lawyer.lawyer_detail.latitude.nil? %>
<script type="text/javascript"
src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">
$(document).ready(function(){
	var myLatlng = new google.maps.LatLng(<%= @lawyer.lawyer_detail.latitude %>, <%= @lawyer.lawyer_detail.longitude %>);
	var myOptions = {
		zoom: 12,
		center: myLatlng,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	}
	var map = new google.maps.Map(document.getElementById("lawyer_location"), myOptions);

	var image = '/images/flag.png';
	var myLatLng = new google.maps.LatLng(<%= @lawyer.lawyer_detail.latitude %>, <%= @lawyer.lawyer_detail.longitude %>);
	var beachMarker = new google.maps.Marker({
		position: myLatLng,
		map: map,
		icon: image
	})

});
</script>
<% else %>

<script type="text/javascript">
$(document).ready(function(){

	$("#lawyer_location").html("Location not available");
	$("#lawyer_location").addClass("location_not_available");

});
</script>
<% end %>

<div id="lawyer_show">
	<div id='top_show_block'>
		<div id="lawyer_img">
			<%= image_tag @lawyer.avatar.url(:thumb) %>
			<br/>
			<% if @lawyer.id == session[:user_id] %>
			<%= link_to "Edit", edit_lawyers_path ,:class =>"orange_button"%>
			<% else %>
			<%= link_to "View Images", images_lawyer_path(@lawyer) ,:class =>"orange_big_button"%>
			<% if session[:account_type]=="user" and @lawyer.active==1 %>
			<div id="or">Or</div>
			<%= link_to "Add Review", new_review_path(:lawyer=> @lawyer) ,:class =>"orange_big_button"%>
			<% end %>
			<% end %>
		</div>
		<div id="lawyer_show_info">
			<div id="lawyer_name_show"><%= link_to @lawyer.full_name, lawyer_path(@lawyer) %></div>
			<div id="block_left">
				<div id="address_show" class="info_block">
					<p class="show_heading">Address:</p>
					<p>
						<%= @lawyer.lawyer_detail.address unless @lawyer.lawyer_detail.nil? %>
					</p>
					<p>
						<%= @lawyer.city %>
					</p>
					<p>
						<%= @lawyer.state %>
					</p>
				</div>
				<div id="gender_show" class="info_block">
					<p><span style="font-weight:bold;font-size:12px;">Gender:</span> <%= @lawyer.sex.humanize unless @lawyer.sex.nil?%></p>
				</div>
				<div id="website_show" class="info_block">
					<p class="show_heading">Website:</p>
					<p><%= link_to @lawyer.lawyer_detail.website, @lawyer.lawyer_detail.website unless @lawyer.lawyer_detail.nil? %></p>
				</div>
				<div id="website_show" class="info_block">
					<p class="show_heading">Company Name:</p>
					<p><%= @lawyer.lawyer_detail.firm_name unless @lawyer.lawyer_detail.nil? %></p>
				</div>

				<div id="rating_show" class="info_block">
					<p class="show_heading">Rating:</p>
					<% if @lawyer.lawyer_detail.nil? or @lawyer.lawyer_detail.rating == 0.0 %>
					<p class=''>No Recommendation so far</p>
					<% else %>
					<%=image_tag(half_round(@lawyer.lawyer_detail.rating)+".png")%>
					<!-- <p class='<%#= half_round(@lawyer.lawyer_detail.rating) %>'>Average Recommendation </p> -->
					<% end %>
				</div>
			</div>
			<div id="block_right">
				<div id="special_show" class="info_block">
					<p class="show_heading">Specialties:<%= link_to "(Add Specialties)", new_lawyer_speciality_path(@lawyer)  if @lawyer.id == session[:user_id]%>
					</p>
					<p>
						<% chart_number = ""  %>
						<% chart_variables = ""  %>
						<% @user_categories.each_with_index do |user_category,index| %>
						<%= user_category.category.name %><br/>

						<% chart_number +=  user_category.percentage.to_s %>
						<% chart_variables +=  user_category.category.name %>
						<% chart_number +=  ',' unless index==@user_categories.count - 1 %>
						<% chart_variables +=  '|' unless index == @user_categories.count- 1 %>
						<% end %>
					</p>
					<% unless  chart_number == "" %>
						<%=image_tag('https://chart.googleapis.com/chart?cht=p3&chs=350x130&chd=t:' + chart_number + '&chl=' + chart_variables )%>
						<% else %>
						No specilities specified
						<% end %>

					</div>
				</div>
			</div>
			<div id="lawyer_location">

			</div>
		</div>
		<div id="bottom_show_block">
			<div id="other_details" class="block_left">
				<!--

					<div class="detail_info">
						<p class="detail_info_header">Contact Information:</p>
						<p>Work Phone : <%= @lawyer.lawyer_detail.work_phone unless @lawyer.lawyer_detail.nil? %></p>
						<p>Office Phone : <%= @lawyer.lawyer_detail.office_phone unless @lawyer.lawyer_detail.nil? %></p>
						<p>Fax : <%= @lawyer.lawyer_detail.fax unless @lawyer.lawyer_detail.nil? %></p>
						<p>Toll Free Number : <%= @lawyer.lawyer_detail.toll_free_phone unless @lawyer.lawyer_detail.nil? %></p>
						<p>Home Phone : <%= @lawyer.lawyer_detail.home_phone unless @lawyer.lawyer_detail.nil? %></p>
					</div>
				-->
				<div class="detail_info">
					<p class="detail_info_header">Professional Statement:</p>
					<%= @lawyer.lawyer_detail.professional_statement.html_safe unless @lawyer.lawyer_detail.nil? or @lawyer.lawyer_detail.professional_statement.nil? %>
				</div>
				<div class="detail_info">
					<p class="detail_info_header">Education:</p>
					<%= @lawyer.lawyer_detail.education.html_safe unless @lawyer.lawyer_detail.nil? or @lawyer.lawyer_detail.education.nil? %>
				</div>
				<div class="detail_info">
					<p class="detail_info_header">Description:</p>
					<%= @lawyer.lawyer_detail.description.html_safe unless @lawyer.lawyer_detail.nil? or @lawyer.lawyer_detail.description.nil? %>
				</div>
				<div class="detail_info">
					<p class="detail_info_header">Awards:</p>
					<%= @lawyer.lawyer_detail.awards.html_safe unless @lawyer.lawyer_detail.nil? or @lawyer.lawyer_detail.awards.nil? %>
				</div>
				<div class="detail_info">
					<p class="detail_info_header">Professional Membership:</p>
					<%= @lawyer.lawyer_detail.professional_membership.html_safe unless @lawyer.lawyer_detail.nil? or @lawyer.lawyer_detail.professional_membership.nil? %>
				</div>
				<div class="detail_info">
					<p class="detail_info_header">Languages Spoken:</p>
					<%= @lawyer.lawyer_detail.language unless @lawyer.lawyer_detail.nil? %>
				</div>
				<div class="detail_info">
					<p class="detail_info_header">Area Served:</p>
					<%= @lawyer.lawyer_detail.area_served.html_safe unless @lawyer.lawyer_detail.nil? or @lawyer.lawyer_detail.area_served.nil? %>
				</div>
				<div class="detail_info">
					<p class="detail_info_header">Experience:</p>
					<%= @lawyer.lawyer_detail.experience.html_safe unless @lawyer.lawyer_detail.nil? or @lawyer.lawyer_detail.experience.nil?  %>
				</div>
			</div>
			<div id="visit_table" class="block_right">
				<div id="click_below">Click on a time <span>below</span> to book an appointment</div>
				<div id="show_table">
					<%= render :partial => "lawyer_timing" %>
				</div>
				<div id="reviews">
					<div id="reviews_heading">Reviews for <%=  @lawyer.full_name %></div>
					<ul>
						<% @reviews.each do |review| %>
						<li>
							<p><%= review.comment %> </p>
							<% if @lawyer.id == session[:user_id] %>
							<%= link_to 'Delete', review, :confirm => 'Are you sure?', :method => :delete %>
							<% end %>
						</li>
						<% end %>
						<% if @reviews.count==0 %>
						<li>
							No reviews so far
						</li>

						<% end %>
						<% if session[:account_type]=="user" and @lawyer.active==1 %>
						<%= link_to "Add Review", new_review_path(:lawyer=> @lawyer) ,:class =>"orange_big_button"%>
						<% end %>

					</ul>
				</div>
			</div>

		</div>
	</div>

