<script>
$(function() {
	$("#accordion").accordion();
});
</script>

<div id="home_block">
	<ul>
		<li id="step_1">
			<%= image_tag('step1.png')%>
		</li>  
		<li id="step_2">
			<%= image_tag('step2.png')%>
		</li>  
		<li id="step_3">
			<%= image_tag('step3.png')%>
		</li>
	</ul>  

</div>
<h3 class="lawyers_tour">Lawyer's Take a Tour</h3>
<div id="home_accordion">
	<div id="accordion">
		<h3><a href="#">See More Clients With CaseCreed</a></h3>
		<div>
			<div style="height:237px;">

				<%=image_tag('test1.png')%>
			</div>
		</div>
		<h3><a href="#">CaseCreed helps Clients find you</a></h3>
		<div>
			<div style="height:237px;">
				<%=image_tag('test2.png')%>
			</div>
		</div>
		<h3><a href="#">Let CaseCreed do the work</a></h3>
		<div>
			<div style="height:237px;">

				<%=image_tag('test3.png')%>
			</div>
		</div>
		<h3><a href="#">Turn Visitors into Clients</a></h3>
		<div>
			<div style="height:237px;">

				<%=image_tag('test4.png')%>
			</div>
		</div>
	</div>
</div>