<h1>Listing vote_for_next_cities</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>City</th>
    <th>Email</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vote_for_next_cities.each do |vote_for_next_city| %>
  <tr>
    <td><%= vote_for_next_city.first_name %></td>
    <td><%= vote_for_next_city.last_name %></td>
    <td><%= vote_for_next_city.city %></td>
    <td><%= vote_for_next_city.email %></td>
    <td><%= vote_for_next_city.comment %></td>
    <td><%= link_to 'Show', vote_for_next_city %></td>
    <td><%= link_to 'Edit', edit_vote_for_next_city_path(vote_for_next_city) %></td>
    <td><%= link_to 'Destroy', vote_for_next_city, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vote for next city', new_vote_for_next_city_path %>
